.container {
  padding: 50px 20px;
}

.bill {
  position: relative;
  border-radius: 30px;
  background-color: #F6FAFD;
  padding: 10px 30px 30px;
  margin-bottom: 30px;
}

.bill__amount .MuiFormLabel-root {
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

.bill__amount .MuiInput-input{
  color: blue;
  font-size: 30px;
  text-align: center;
}

.bill__row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.bill__row--head {
  text-align: center;
  justify-content: center;
}

.bill__note .MuiFormHelperText-root {
  text-align: right;
}

.bill__date {
  width: 100%;
  max-width: 170px;
}

.container .bill__account .MuiSelect-select,
.MuiMenu-root .MuiMenuItem-root {
  display: flex;
  justify-content: space-between;
}

.container .add-btn {
  border-radius: 20px;
  display: flex;
  width: auto;
  margin: 50px auto;
  text-transform: capitalize;
  font-weight: bold;
}

.bill__remove {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
